.THIS .continueButton{
    font-size: 14px;
    font-weight: 600;
    background: #2478FA;
    border: 1px solid #2478FA;
    padding: 0px 4rem;
}

.THIS .backButton{
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    border: 1px solid #D4D4D4;
    padding: 0px 4rem;
}
.THIS .articleCount{
    color:#2478FA;
}
.THIS .articleCount svg{
    fill:#2478FA;
}
.THIS .addtoCardButton{
    padding:0px 4rem;
}